
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
</head>
<body>
  
  <div class="white">
    <ul>
      <li *ngFor="let pokemon of pokemonResult?.results" (click)="showOnePokemonSprite(pokemon)">
        <!-- Utilisez ngIf pour conditionnellement afficher le sprite -->
        <div class="sprite">
        <img *ngIf="selectedPokemon === pokemon" [src]="pokemon.sprite" alt="{{ pokemon.name }} Sprite">
        <ul>
          <li *ngIf="selectedPokemon === pokemon">{{pokemon.name}}</li>
        </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="screen">
    <img src="../../assets/Pokedex.png" alt="Pokedex Screen">
    <div class="green">
      <div *ngIf="pokemonResult">
        <ul>
          <li *ngFor="let pokemon of pokemonResult.results">
            <p (click)="showOnePokemonSprite(pokemon)">{{ pokemon.name }}</p>
          </li>
        </ul>
      </div>
      <button (click)="getPrevious()">⇦</button>
      <button (click)="getNext()">⇨</button>
    </div>
    
  </div>
  
     
    
  
</body>
</html>

  